<h1>Posts!</h1>
<% if current_user %>
<%= current_user.email %><br /><br />
<%= link_to 'log out', destroy_user_session_path, :method => :delete %>
<% else %>

<%= link_to 'login', user_session_path %><br /><br />

<%= link_to 'sign up', new_user_registration_path %><br /><br />

<% end %>
